<!DOCTYPE html>
<html lang="ko">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>디테일</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class = "box">
    <a href="{% url 'home' %}">뒤로가기</a>
        <h1>제목 : {{blog.title}}</h1>
        <h3>{{blog.category}} | {{blog.author}} | {{blog.created_date}} </h3>
        <hr>
        <br>
        <h2>{{blog.body}}</h2>
        <br>
        <hr>
        <p>댓글 수 : {{blog.comments.count}}</p>
        <a href="{% url 'update' blog.id %}">게시글 수정</a>
        <a href="{% url 'delete' blog.id %}" class="delete">게시글 삭제</a>
        <hr>

        {% for comment in blog.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.author }} | {{ comment.created_date }}</div>
                <p>{{ comment.text|linebreaks }}</p>
                <a href="{% url 'edit_comment' comment.id %}">댓글 수정</a>
                <a href="{% url 'del_comment' comment.id %}" class="delete">댓글 삭제</a>
            </div>
        <hr>
        {% empty %}
            <p>아직 댓글이 없습니다</p>
        <hr>
        {% endfor %}

        {% block content %}
        <h4>댓글 달기</h4>
        <form method="POST" >{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">작성</button>
        </form>
        {% endblock %}

        <hr>
        <br>
        <br>
    </div>
</body>